{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <!-- <h1>{{myTitle}}</h1>  -->

<section class="bandeau">

    <div class="txt">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ad?
    </div> 
</section> 

<h2 class="title">Choisis ton maillot</h2> 

<section class="produits"> 
    <div class="box">
        <div class="maillot"> 
            <img src="assets/img/barca.png" alt="Maillot de foot"> 
            
            <div class="bloc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae earum itaque quidem nobis eligendi. Odit, commodi vero fugit totam at natus illo voluptas a porro obcaecati in esse magnam ipsa explicabo aliquid nostrum omnis delectus quo earum quam voluptatum repellat. Alias saepe reiciendis sint quaerat blanditiis totam tempore. At.</p> 
            </div>
        </div>
    
        <div class="maillot">
            <div class="bloc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae earum itaque quidem nobis eligendi. Odit, commodi vero fugit totam at natus illo voluptas a porro obcaecati in esse magnam ipsa explicabo aliquid nostrum omnis delectus quo earum quam voluptatum repellat. Alias saepe reiciendis sint quaerat blanditiis totam tempore. At.</p> 
            </div>
    
            <img src="assets/img/psg.png" alt="Maillot de foot"> 
        </div>

    </div>

    <div class="box">
        <div class="maillot">
            <img src="assets/img/benfica.png" alt="Maillot de foot"> 
            
            <div class="bloc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae earum itaque quidem nobis eligendi. Odit, commodi vero fugit totam at natus illo voluptas a porro obcaecati in esse magnam ipsa explicabo aliquid nostrum omnis delectus quo earum quam voluptatum repellat. Alias saepe reiciendis sint quaerat blanditiis totam tempore. At.</p> 
            </div>
        </div>
    
        <div class="maillot"> 
            <div class="bloc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae earum itaque quidem nobis eligendi. Odit, commodi vero fugit totam at natus illo voluptas a porro obcaecati in esse magnam ipsa explicabo aliquid nostrum omnis delectus quo earum quam voluptatum repellat. Alias saepe reiciendis sint quaerat blanditiis totam tempore. At.</p> 
            </div>
    
            <img src="assets/img/milan.png" alt="Maillot de foot">
        </div>

    </div>
</section>

{% endblock %}
