<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('assets/style.css')}}">
        {# cdn bootstrap #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> 
        {% endblock %} 

        {% block javascripts %}
        {# cdn bootstrap js #} 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 
          <!-- cdn font awesome -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="{{path('app_home')}}">Maillot.com</a> 
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link" href="#">Clubs</a>
                      <a class="nav-link" href="#">Nations</a>
                      <a class="nav-link" href="#">Hommes</a>
                      <a class="nav-link" href="#">Femmes</a>
                      <!-- pr relier plsrs controller -->
                      <a class="nav-link" href="{{path('app_contact')}}">Contact</a> 
                    </div>
                  </div>
                </div>
              </nav>
        
        </header>


        {% block body %}

        {% endblock %} 
        
        <footer>
          <div class="boxDown">

            <div class="regles">
              <ul>
                <li>Conditions légales</li> 
                <li>Copyright 2022</li>
                <li>Règles d'utilisation</li>
              </ul>
            </div>

            <div class="socialMedia">
              <ul>
                <li> <i class="fab fa-twitter"></i> </li>
                <li> <i class="fab fa-facebook"></i> </li>
                <li> <i class="fab fa-instagram-square"></i> </li> 
              </ul>
            </div>

          </div>
        </footer>
    </body>
</html>
